@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
*{
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: rgb(255, 255, 255);
    --secondary-color: rgb(47, 47, 47);
    --light-color: rgb(255, 255, 255);
    --dashboard-main-color:rgb(12, 23, 45);
    --dashboard-second-color:rgb(58, 58, 59);
}
body {
    width:auto;
    overflow: hidden;
    margin: 5px;
    background-color: var(--secondary-color);
}